.admin-register {
    width: 100%;
    
    @include md {
        padding-top: 60px;
        flex: 5;
    }
    
    .form-holder {
        margin-bottom: 3rem;
        min-height: 560px;
        background-color: $color-grey-20;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        transition: 0.4s ease-in-out;

        @include md {
            margin: 3rem 0;
            margin-left: 3rem;
        }

        form {
            width: 80%;


            .error-text{
                margin-top: 0;
            }

            .error-text-db {
                margin: 0 0 1.5rem 0;
                color: $color-dark;
            }
        }
    }
}

.small-views{
    flex-direction: column;

    @include md{
        flex-direction: row;
    }
}