.product-list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe8e8;
    border-radius: 3px;
    border: #ffe8e8 solid 10px;
    transition: 0.2s ease-in-out;

    &:nth-child(n+1){
        margin-bottom: 1rem;
    }

    &:first-child{
        margin-bottom: 3rem;
    }

    &:hover{
        background-color: #ffd5d5;
        border: #ffd5d5 solid 10px;

        .placeholder-area{
            background-color: $color-grey-40;

            // img{
            //     transform: scale(1.1);
            // }
        }
    }

    .left-side{
        display: flex;
        align-items: center;
        flex: 4;

        .placeholder-area{                  
            display: inline-block;
            background-color: $color-grey-20;
            width: 60px;
            height: 60px;
            overflow: hidden;
            border: none;
            margin-left: 1rem;
            transition: 0.2s ease-in-out;
            
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: 0.5s ease-in-out;
    
                &:not([src]){
                    opacity: 0;
                } 
            }
        }

        .product-name{
            font-weight: $font-weight-semibold;
            font-size: $font-size-18;
            color: $color-dark;
            text-decoration: none;
        }
    
        .product-category{
            font-weight: $font-weight-regular;
            font-size: $font-size-14;
        }

        p{
            font-weight: $font-weight-semibold;
            font-size: $font-size-16;
            margin: 0rem 1rem;
        }        
    }

    .product-tag{
        flex: 1;
    }

    .product-price{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        font-weight: $font-weight-regular;
        font-size: $font-size-16;
    }

    .right-side{
        display: flex;
        width: min-content;
        justify-content: flex-end;

        button{
            margin-right: 1rem;
        }

        .edit-btn{
            margin-left: 1rem;
        }
    }
}