.product-update-form{
     
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        form{
            width: 80%;
            max-width: 800px;

            input:focus,
            textarea:focus,
            select:focus{
                box-shadow: 0 0 0 0.15rem #ffacac !important;
                border: none !important;
            }
        
            ::placeholder{
                color: black;
                opacity: 1;
            }

            a{
                text-decoration: none;
            }
        }
    }
}