.product-info-box{

    h3{
        font-size: $font-size-20;
        font-weight: $font-weight-bold;
        margin-bottom: 2rem;
    }

    .container{
        display: flex;
        justify-content: center;

        .info-box{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 1.5rem;
            
            p{
                display: flex;
                justify-content: space-between;
                font-style: italic;
                margin: 0;
                width: 100%;
            }
            
            .content-holder{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: fit-content;
                background-color: #ffe8e8;
                border-radius: 3px;
                border: #ffe8e8 solid 20px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
                transition: 0.2s ease-in-out;
                
                &:hover{
                    background-color: #ffd5d5;
                    border: #ffd5d5 solid 20px;

                    .img-holder{
                        span{
                            bottom: 0;
                        }
                    }
                }
                

                .img-holder{
                    display: inline-block;
                    background-color: $color-grey-20;
                    width: 270px;
                    height: 270px;
                    overflow: hidden;
                    border: none;
                    position: relative;

                    span{
                        position: absolute;
                        font-weight: $font-weight-semibold;
                        font-size: $font-size-18;
                        background-color: $color-white;
                        padding: 4px 15px 3px 15px;
                        border-radius: 0 10px 0 0;
                        bottom: -3px;
                        transition: 0.3s ease-in;
                    }
        
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
            
                        &:not([src]){
                            opacity: 0;
                        } 
                    }
                }
    
                .text-holder{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 20px;
    
                    h3{
                        margin: 4px 0 18px 15px;   
                        font-weight: $font-weight-semibold;
                        font-size: $font-size-18;
                        color: $color-dark;

                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }    
        }
    }
}