* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: $font-weight-regular;
    color: $color-dark;
    // background-color: aqua;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.whole-view {
    flex: 1;
}
