* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: $font-weight-regular;
    color: $color-dark;
    // background-color: aqua;
}

// tricking the footer to stay at the bottom, with help of Joakim 
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.whole-view {
    flex: 1;
}

// groups for styling
.small-h3{
    font-size: $font-size-20;
    font-weight: $font-weight-bold;
    margin-bottom: 1.5rem;
}