// To change header background-color and drop-shadow easier on nav
.bg-white{
    background-color: $color-white;

    nav{
        .nav-icons{
            .menu-icon{
                .circle{
                    filter: drop-shadow(0 2px 5px $color-grey-30);
                }
            }
        }
    }
}

// Styling of gradient for header background + showcase-top
.gradient-grey{
    background: #e6e6e6;
    background: linear-gradient(90deg, #e6e6e6 0%, #f5f5f5 100%);
}

// classes to add to the img-tag's
.bg-brown{
    background-color: #cac0be;
}
.bg-grey{
    background-color: #e8e8e8;;
}
.bg-dark-brown{
    background-color: #75695c;
}
.bg-consious-grey{
    background-color: #d9d9d9;
}

// styling of form-inputs who are in focus
.pink-focus{
    input:focus,
    textarea:focus,
    select:focus{
        box-shadow: 0 0 0 0.15rem #ffacac !important;
        border: none !important;
    }
}